{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">
            {% trans 'Users' %}
        </h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans 'ID' %}</th>
                <th>{% trans 'Username' %}</th>
                <th>{% trans 'Fullname' %}</th>
                <th>{% trans 'Created At' %}</th>
            </tr>
            </thead>
            <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <td> {{ user.id }} </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.created_at }}</td>
                        <td>
                            <a href="{% url 'user_update' user.id %}">{% trans 'Edit' %}</a>
                            <br>
                            <a href="{% url 'user_delete' user.id %}">{% trans 'Delete' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}